{{> admin/header}}
{{> admin/sidebar}}
<main id="main" class="main">
   {{> admin/pageTitle}}
   <section class="section dashboard">
      <div class="row">
         <div class="col-12">
            <div class="card">
               {{#if addErr}}
                  <div class="card-header">
                     <div class="alert alert-danger">{{addErr}}</div>
                  </div>
               {{/if}}
               <div class="card-body p-3">
                  <form action="/admin/directions/add" method="post" class="row needs-validation" novalidate enctype="multipart/form-data">
                     <div class="col-12 has-validation mb-3">
                        <label for="title" class="form-label card-title p-0">
                          Yo'nalish nomi
                        </label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Yo'nalish nomi" required>
                     </div>
                     <div class="col-12 has-validation mb-3">
                        <label for="image" class="form-label card-title p-0">
                          Rasmi
                        </label>
                        <input type="file" class="form-control" name="image" id="image" required>
                    </div>
                     <div class="col-lg-12">
                        <button class="btn btn-primary">
                           Qo'shish
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>