<div class="pagetitle card">
  <div class="card-body p-3">
    <h1>{{pageTitle}}</h1>
    <nav>
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
        <li class="breadcrumb-item active">{{pageTitle}}</li>
      </ol>
    </nav>
  </div>
</div>