<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-5 col-md-8 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="card mb-3">
              {{#if regErr}}
                <div class="card-header">
                  <p class="m-0 text-danger">{{regErr}}</p>
                </div>
              {{/if}}
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Hisobingizga
                    kiring</h5>
                  <p class="text-center small">
                    Kirish uchun foydalanuvchi nomingiz va parolingizni kiriting
                  </p>
                </div>
                <form
                  action="/auth/admin/login"
                  method="post"
                  class="row g-3 needs-validation"
                  novalidate
                  autocomplete="off"
                >
                  <div class="col-12">
                    <label for="username" class="form-label">Foydalanuvchi nomi</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="username">
                        <i class="bx bxs-user"></i>
                      </span>
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="username"
                        required
                      />
                      <div class="invalid-feedback">
                        Iltimos, foydalanuvchi nomingizni kiriting.
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Foydalanuvchi
                      paroli</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="password">
                        <i class="bx bxs-lock-alt"></i>
                      </span>
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        required
                      />
                      <div class="invalid-feedback">Iltimos, parolingizni
                        kiriting</div>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Kirish
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>