{{> admin/header}}
{{> admin/sidebar}}
<main id="main" class="main">
   {{> admin/pageTitle}}
   <section class="section dashboard">
      <div class="row">
         <div class="col-12">
            <div class="card">
               {{#if addErr}}
                  <div class="card-header">
                     <div class="alert alert-danger">{{addErr}}</div>
                  </div>
               {{/if}}
               <div class="card-body p-3">
                  <form action="/admin/achievements/add" method="post" class="row needs-validation" novalidate enctype="multipart/form-data">
                     <div class="col-12 has-validation mb-3">
                        <label for="image" class="form-label card-title p-0">
                          Rasmi
                        </label>
                        <input type="file" class="form-control" name="image" id="image" required>
                    </div>
                     <div class="col-12 has-validation mb-3">
                        <label for="fullName" class="form-label card-title p-0">
                          Sarlavha
                        </label>
                        <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Ism familyasi" required>
                     </div>
                     
                     <div class="col-12 mb-3">
                        <div class="col-lg-12 has-validation">
                           <label for="description" class="form-label card-title p-0">
                              Qisqacha ma'lumot
                           </label>
                           <textarea class="form-control" rows="6" name="description" id="description" placeholder="Qisqacha ta'rif" required></textarea>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <button class="btn btn-primary">
                           Qo'shish
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>